<%= simple_form_for(@atom) do |f| %>
  <div class="field-inputs">
    <%= f.input :title %><br />
    <%= f.input :story %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
